<aside class="main-sidebar sidebar-dark-purple elevation-4" [hidden]="hideSideBar">
  <a style="cursor: pointer"
     (click)="menuIdef('/attendance')"
      class="brand-link text-center">
    <span class="brand-text font-weight-light font-weight-bolder">Dexa Medica</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a style="cursor: pointer" class="nav-link {{ menuId == '/attendance' ? 'active' : '' }}"
             (click)="menuIdef('/attendance')">
            <i class="nav-icon fas fa-clock"></i><p> Attendance </p>
          </a>
        </li>
        <li class="nav-item">
          <a style="cursor: pointer"
             class="nav-link {{ menuId == '/profilez' ? 'active' : '' }}"
             (click)="menuIdef('/profilez')">
            <i class="nav-icon fas fa-user"></i><p> Profiles </p>
          </a>
        </li>
        <li class="nav-item">
          <a style="cursor: pointer"
             class="nav-link {{ menuId == '/summaries' ? 'active' : '' }}"
             (click)="menuIdef('/summaries')">
            <i class="nav-icon fas fa-calculator"></i><p> Summaries </p></a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
