<style>
  #loginBG {
    background-image: url('assets/titan_dexa.png');
    background-size: cover; /* Untuk memastikan gambar selalu menutupi seluruh body */
    background-position: center; /* Posisi gambar latar belakang di tengah */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar latar belakang */
  }
  #loginBG::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }
</style>
<div class="hold-transition login-page" id="loginBG">
<div class="login-box" >
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg"><b>ATTENDANCE SYSTEM</b></p>
      <form #mployeeLogin (ngSubmit)="onLogin()" novalidate>
        <div class="input-group mb-3">
          <input type="email"
                 id="employeeEmail"
                 name="employeeEmail"
                 [(ngModel)]="fd.employeeEmail"
                 class="form-control form-control-sm"
                 placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-envelope"></span></div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password"
                 id="employeeRawPassword"
                 name="employeeRawPassword"
                 [(ngModel)]="fd.employeeRawPassword"
                 class="form-control form-control-sm"
                 placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-lock"></span></div>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-flat btn-sm btn-danger"><i class="fa fa-power-off mr-1"></i> Login</button>
      </form>
    </div>
  </div>
</div>
</div>
