<div class="content-wrapper px-2 py-2 ">
  <div class="row">
    <div class="col-12">
      <div class="card card-purple card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <img class="profile-user-img img-fluid img-circle border-dark" src="./assets/photo_desc.jpg" alt="User profile picture">
          </div>
          <h3 class="profile-username text-center">{{ employeeCredentials.userInfo.employeeEmail }}</h3>
          <p class="text-muted text-center">{{ employeeProfiles.employeePosition }} | {{ employeeCredentials.userInfo.role.roleName }}</p>
          <p class="text-muted text-center">{{ employeeCredentials.employeeAuthenticationSession }}</p>
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b class="text-sm">Emails</b>
              <a class="float-right text-purple text-sm">{{ employeeCredentials.userInfo.employeeEmail }}</a>
            </li>
            <li class="list-group-item">
              <b class="text-sm">Is Active</b>
              <a class="float-right text-sm badge badge-{{ employeeCredentials.employeeIsAuthenticated == true ? 'success' : 'danger' }}">
                {{ employeeCredentials.employeeIsAuthenticated }}
              </a>
            </li>
            <li class="list-group-item">
              <b class="text-sm">Role Name</b>
              <a class="float-right text-purple text-sm">{{ employeeCredentials.userInfo.role.roleName }}</a>
            </li>
            <li class="list-group-item">
              <b class="text-sm">Phone Number</b>
              <div class="float-right">
                <a class="float-left mr-3 text-purple text-sm">{{ employeeProfiles.employeePhone }}</a>
                <button class="btn btn-flat btn-dark btn-sm px-3"
                        (click)="onEditPhone()" [disabled]="isOnEditPhone"><i class="fas fa-edit mr-2"></i> Edit</button>
              </div>
            </li>
            <li class="list-group-item">
              <b class="text-sm">Employee Password</b>
              <div class="float-right">
                <a class="float-left mr-3 text-purple text-sm">**********</a>
                <button class="btn btn-flat btn-dark btn-sm px-3"
                        (click)="onEditPassword()" [disabled]="isOnEditPassword"><i class="fas fa-edit mr-2"></i> Edit</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card card-purple card-outline" [hidden]="isEditCardHide"> <!-- isEditCardHide -->
        <div class="card-body">
          <form #employeeEdit (ngSubmit)="onDataEditSave()" novalidate>
            <div class="form-group mb-2" [hidden]="!isOnEditPhone"> <!-- !isOnEditPhone -->
              <label class="col-form-label col-form-label-sm">Phone Number</label>
              <input type="text"
                     id="employeePhone"
                     name="employeePhone"
                     class="form-control form-control-sm"
                     placeholder="Phone Number"
                     [(ngModel)]="formDataEmployee.employeePhone">
            </div>
            <div class="form-group mb-2" [hidden]="!isOnEditPassword"> <!-- !isOnEditPassword -->
              <label class="col-form-label col-form-label-sm">Password</label>
              <input type="password"
                     id="employeePassword"
                     name="employeePassword"
                     class="form-control form-control-sm"
                     placeholder="Password"
                     [(ngModel)]="formDataEmployee.employeeRawPassword">
            </div>
            <div class="d-flex form-group d-block justify-content-end">
              <button class="btn btn-sm btn-flat btn-dark float-right px-4 mr-1" type="submit"><i class="fas fa-save mr-2"></i> SAVE</button>
              <button class="btn btn-sm btn-flat btn-outline-danger float-right px-3" (click)="onEditClose()"><i class="fas fa-angry mr-2"></i> CLOSE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
