<div class="content-wrapper px-2 py-2">
  <div class="card card-purple card-outline">
    <h3 class="card-title"></h3>
    <div class="card-body row">
      <button type="button" class="btn btn-dark btn-flat col-12 py-5 mb-2"
              (click)="hit('MASUK')" style="height: 20vh;">
        <i class="fas fa-clock mr-2"></i> MASUK
      </button>
      <button type="button"
              class="btn btn-danger btn-flat col-12 py-5 mb-2"
              (click)="hit('PULANG')" style="height: 20vh;">
        <i class="fas fa-sign-out-alt mr-2"></i> PULANG
      </button>
    </div>
  </div>
</div>
